/* 전역 폰트 설정 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family: 'NanumSquareRound', sans-serif;
} 

.text-global {
  color: #505753;
}